@page "/Consulta"
@using BlazorAplicada2ProjectFinal.Data;


<NavLink class="nav-link" href="Employee">
    <span class="oi oi-plus" aria-hidden="true"></span>Add new

</NavLink>



<h3>Consulta de empleados</h3>

@if (Employees == null)
{
    <p><em>Loading.....</em></p>
}



<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cedula</th>
            <th>Nacimiento</th>
            <th>Salario</th>
            <th>Fecha de ingreso</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Estado Civil</th>
            <th>Nacionalidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Employees)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.Nombres</td>
                <td>@item.Apellidos</td>
                <td>@item.Cedula</td>
                <td>@item.FechaNacimiento</td>
                <td>@item.Salario</td>
                <td>@item.FechaIngreso</td>
                <td>@item.Telefono</td>
                <td>@item.Celular</td>
                <td>@item.EstadoCivil</td>
                <td>@item.Nacionalidad</td>
                <td>@item.Sexo</td>
                <td>
                    <a class="nav-link" href="UpdateEmployee/@item.EmployeeId">
                        <span class="oi oi-pencil" aria-hidden="true"></span>Edit
                    </a>
                    <a class="nav-link" href="DeleteEmployee/@item.EmployeeId">
                        <span class="oi oi-trash" aria-hidden="true" ></span> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>





@code {
    private List<Employees> Employees = new List<Employees>();

    BaseRepository<Employees> baseRepository = new BaseRepository<Employees>();


    protected override async Task OnInitializedAsync()
    {
        Employees = await Task.Run(() => baseRepository.GetList(p => true));
        Consulta();
    }

    private void Consulta()
    {
        Employees =  baseRepository.GetList(p => true);
    }

}
